@import "~bootstrap/scss/bootstrap";

* {
    color: black !important;
}

body {
    /* Dégradé linéaire de haut en bas */
    background: linear-gradient(to bottom right, hsl(270, 100%, 93%), #6f47ff);
    /* Assure une bonne visibilité du texte sur le dégradé */
    color: #fff; 
    /* Ajustement des marges et du padding */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.image {
    max-width: 387px; /* Largeur maximale */
    max-height: 218px; /* Hauteur maximale */
    background-size: cover; /* L'image de fond couvre entièrement la zone */
    background-position: center; /* L'image est centrée horizontalement et verticalement */
    background-repeat: no-repeat; /* L'image de fond ne se répète pas */
  }
  