<h1>Bonjour, voici un nouvel email et voici les coordonées du contact en question</h1>

<ul>
    <li> Prénom : {{contact.firstName}} </li>
    <li> nom : {{contact.lastName}} </li>
    <li> email : {{contact.email}} </li>
</ul>

<h2> Le message du prospect : </h2>


<p> {{contact.message}}  </p>